<a href="/authors/{{ author.id }}" class="author_block">
  <div class="photo_wrapper">
    <img class="photo" ng-src="{{author.photo_thumb_filename}}" alt=""/>
  </div>
  <div class="info_wrapper">
    <div class="name">{{ author.name }}</div>
  </div>
</a>