<div id="books_container">

  <div class="info_bar">
    <%= pluralize(@user.book_specimens.count,'book') %> on shelve
  </div>
      <% @user.book_specimens.each do |book_specimen| %>
      <% @book = book_specimen.book %>

      <div class="book_wrapper">
        <%= link_to(book_specimen, class: "book_block") do %>
            <div class="book_block">
              <div class="cover_wrapper"><img class="cover" src="" alt=""/></div>
              <div class="info_wrapper"><div class="title"><%= @book.title %></div>
              <div class="author"><%= @book.author_names %></div></div>
            </div>
        <% end %>
      </div>

  <% end %>

</div>