<div id="friends_sector">
  <% @user.friends.each do |friend| %>
  <div class="friend_block">
    <%= link_to friend do %>
    <%= image_tag friend.avatar.url(:thumb) %>

        <div class="name"><%= friend.full_name %></div>
        <% end %>

  </div>
      <% end %>
</div>
