<a href="/users/{{ user.id }}" class="user_block">
  <div class="avatar_wrapper">
    <img class="cover" ng-src="{{user.avatar_thumb_filename}}" alt=""/>
  </div>
  <div class="info_wrapper">
    <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
  </div>
</a>