<div id="user_page">
<div id="user_sector">  <div id="left_column">
    <%= image_tag 'http://wallpaphd.com/wp-content/uploads/2013/02/Emma-Watson-Rain-Wallpaper.jpg', alt: @user.full_name, class: 'avatar_big' %>
  </div>
  <div id="right_column">
      <h1><%= @user.full_name %> <% if current_user?(@user) %>(Это вы)<% end %></h1>

  </div>
</div>
<div id="books_sector">
  <%= link_to "Add a book", new_book_specimen_path, class: 'btn btn-primary btn-large center', id: 'add_book' %>

  <%= render 'users/books_container' %>

</div></div>