        <a href="/books/{{ book.id }}" class="book_block">
          <div class="cover_wrapper">
            <img class="cover" src="http://upload.wikimedia.org/wikipedia/en/5/58/Archer_book_cover.jpg" alt=""/></div>
          <div class="info_wrapper">
            <div class="title">{{ book.title }}</div>
            <div class="author">{{ book.author_names }}</div>
          </div>
        </a>