
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin dblock {
  display: block;
  overflow: hidden;
}

@mixin centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin rounded($radius: 8px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
}