// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins.css.scss';
//
#books_container {
  @include dblock;
  float: none;

  .book_wrapper {
    width: 100%;
    @include dblock;
    padding: 0.5em 1em;
  }

  .book_block {
    @include dblock;
     background: lightgray;
  }

  a:hover {
    text-decoration: none;

    .book_block
    {
      background: lightpink;

    }
  }

}


#book_page {

  #left_column {
    width: 40em;
    @include box-sizing;
    float: left;
    @include dblock;
    padding: 1em 1em;

    h1 {
      text-align: left;
      font-weight: normal;
      font-size: 1.4;
      font-family: "PT Sans", sans;
    }
  }

  #right_column {
    padding: 1em 1em;
    width: 20em;
    @include box-sizing;
    float: left;
    @include dblock;

    img#avatar_big
    {
      @include rounded(4px);

    }

  }

}

